@import '~bootstrap/scss/bootstrap';

.hide  {
  display: none;
}

h5 {
  text-align: center;
}

body {
  background-image: url('public/BG_Survey[FINAL].jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  height: 100%;
  min-height: 100vh;
}

.signs {
  display: flex;
  justify-content: center;
}

.survey-listing {
  display: flex;
  flex-direction: column;
}

.survey-select {
  font-size: 125%;
}

.take-survey {
  margin-top: 10px;
}

h1 {
  color: white;
  font-family: 'Bad Script', cursive;
  font-size: 62px;
  margin: 21px ;
  text-align: center;
}

section {
  background-color: #ffffff;
  border: 6px solid rgba(1, 10, 90, .6);
  border-radius: 30px;
  cursor: pointer;
  margin: 20px;
  opacity: .75;
  outline: none;
  padding: 1rem;
  overflow: auto;
  resize: both;
}
