@import '~bootstrap/scss/bootstrap';

.hide  {
  display: none;
}

body {
  background-image: url('public/BG_Survey.png');
  color: black;
  background-size: cover;
  min-height: 100vh;
}

.signs {
  display: flex;
  justify-content: center;
}

h1 {
  color: white;
  font-family: 'Bad Script', cursive;
  font-size: 62px;
  margin: 21px ;
  text-align: center;
}
